header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.product-list {
  background-color: rgb(254, 141, 75);
  border-radius: 3px;
  margin: 0 26px;
  box-shadow: 0 0 2px black;
  margin-bottom: 50px;
  width: 165px;
}

.product-list i {
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.649);
  border-radius: 30%;
  margin: 3px 0 0 3px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.product-name {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}

.price {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  
}

.origin-price {
  text-decoration-line: line-through;
  padding: 3px;
}

.sale {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 3px;
  font-weight: 500;
}

.product-img {
  height: 220px;
  width: 165px;
  object-fit: cover;
  position: relative;
}
