@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  min-width: 100vh;
  background-color: #f2f2f2;
}

.nav-bar {
  background-color: #363636;
  height: 130px;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-bar h1 {
  margin-left: 100px;
  color: #dadada;
  font-size: 40px;
  letter-spacing: 4px;
}
